
/*============================================
=            DIRECTIONS main page            =
============================================*/

.directions{
  padding: 3rem -0px;
  text-align: center;

  h1{

    text-align: center;
    margin-bottom: 3rem;
  }
// **********ITEMS****************
  article {
    @include grid-column(4);
    text-align: center;
    z-index: 2;
    h2{
      text-transform: uppercase;
    }
    h3{
       font-size: 17px;
      text-transform: uppercase;
        &::before{content:"< ";}
        &::after{content:" >";}
    }
    p{text-align: justify;}

  }//article

  .line{margin-bottom: 2rem;display: inline-block;}
  p{text-align: justify;}




//--------------------------------
} //directions parent


/*-----  End of DIRECTIONS main page  ------*/