/*====================================================
=            Common elements of all pages            =
====================================================*/
.container {
  @include grid-row();
  position: relative;
}
.line {
  position: relative;
  &::before{
    display: block;
    position: absolute;
    bottom:-3px;
    content:' ';

    width: 200px;
    height: 1px;
    background: #d6d6d6;
    left:calc(50% - 100px);
  }
}

a.more{
  text-transform: uppercase;
  font-family: $font-family-serif;
  color:#000;
  text-decoration: none;
  border-bottom: 1px solid #000;
    &::before{content:"< ";}
    &::after{content:" >";}
    &:hover{border-color:#fff;}
}

.scroll-down{
  border-top: 20px solid #b0a290;
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 65px;
  &::after{
    width: 100px;
    height: 92px;
    border-radius: 0 0 50% 50%;
    background: #b0a290 url(../img/arr-down-light.png) 50% 77% no-repeat;
    content: ' ';
    position: absolute;
    top: -49px;
    left: calc(50% - 50px);
  }
}

blockquote{
  color:#000;
  border:none;
  margin:0rem 0 4rem;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  line-height:130%;
    &::before{
      position: absolute;
      left: 0;
      top: 0;
      content:' ';
      display: block;
      height: 21px;
      width: 25px;
      background:  url(../img/quotes.png) 0 0 no-repeat;
    }
    &::after{
      position: absolute;
      right: 0;
      top: 0;
      content:' ';
      display: block;
      height: 21px;
      width: 25px;
      background:  url(../img/quotes.png) 0 0 no-repeat;
      background-position:-27px 0;
    }
}

.social{
  li{
    list-style:none;
    display: inline-block;
    height: 57px;
    width: 57px;
    border-radius:50%;
    margin: 0 10px 0 0;
    background: #fff url(../img/social-icons.png) no-repeat;
    //  icons bg shift
        &.vk{  background-position: -5px 0px;}
        &.yt{  background-position: -71px 0px;}
        &.vm{  background-position: -137px 0px;}
        &.phone{  background-position: -206px 0px;}
        &.email{  background-position: -271px 0px;}
        &.fb{  background-position: -345px 0px;}
        &.in{  background-position: -402px 0px;}
        &.tw{  background-position: -470px 0px;}
        &.gp{  background-position: -533px 0px;}
  }
}
/*-----  End of Common elements of all pages  ------*/

