@import "../../bower_components/foundation/scss/normalize";
@import "../../bower_components/foundation/scss/foundation";
@import "typography";
@import "header";
@import "footer";
@import "feedback";
@import "hero"; // main page big banner

.container {
  @include grid-row();
  //foundation grid container
  position: relative;
}
.line {
  position: relative;
  &::before{
    display: block;
    position: absolute;
    bottom:-3px;
    content:' ';

    width: 200px;
    height: 1px;
    background: #d6d6d6;
    left:calc(50% - 100px);
  }
}

